<configuration>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{HH:mm:ss} %-5level %logger{0} {%class %method} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>${log-file:-logs/api.log}</file>
        <encoder>
            <pattern>%date{HH:mm:ss} %-5level %logger{0} {%class %method} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.apache.spark" level="WARN" />
    <logger name="org.apache.spark.storage.BlockManager" level="ERROR" />

    <logger name="com.datastax.driver" level="WARN" />
    <logger name="com.datastax.spark" level="WARN" />
    <logger name="org.apache.cassandra.db.SystemKeyspace" level="ERROR"/>

    <logger name="org.apache.zookeeper" level="ERROR"/>
    <logger name="kafka" level="ERROR" />

    <logger name="org.eclipse.jetty" level="ERROR" />
    <logger name="org.apache.thrift" level="ERROR"/>

    <logger name="org.apache.hadoop" level="ERROR" />
    <logger name="org.apache.kafka" level="ERROR" />

    <root level="info">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </root>

</configuration>
